<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820090700637-v2cgsg5oakioc419vvvve3h0igbumleg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820090700637-v2cgsg5oakioc419vvvve3h0igbumleg</string>
	<key>API_KEY</key>
	<string>AIzaSyC8KRKsOhRtivuKTJvkn0fFpifK-us_ShE</string>
	<key>GCM_SENDER_ID</key>
	<string>820090700637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehishare</string>
	<key>PROJECT_ID</key>
	<string>vehishare-bcfba</string>
	<key>STORAGE_BUCKET</key>
	<string>vehishare-bcfba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820090700637:ios:77187e037fe49f200e5eb4</string>
	<key>DATABASE_URL</key>
	<string>https://vehishare-bcfba-default-rtdb.firebaseio.com</string>
</dict>
</plist>